.idea/1.01.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/workspace.xml
data/
dl.mongodb.org/
node_modules/