
.babelrc
.idea/1.01.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/workspace.xml
aphorisms.js
data/
dl.mongodb.org/
insert.js
node_modules/
package.json
public/
rollup.config.js
routes/
src/
