html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #333;
    font: 14px/1.5 "Georgia", "Times New Roman", serif;
    background: white;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    margin: 50px;
    text-align: center;
}